<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" style="background: #ffffff !important;">
  <head> 
    <meta charset="utf-8" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <meta name="x-apple-disable-message-reformatting" /> 
    <meta name="author" content="smartdeploy.com" /> 
    <meta name="viewport" content="width=device-width" />
    <title>SmartDeploy</title>
    <!-- MS Office safe fonts -->
    <!--[if !mso]><!-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
      <!--<![endif]-->
      <!--[if mso]>
        <style type="text/css">body, table, td {font-family: Arial, sans-serif !important;}</style>
      <![endif]-->
      <!-- Stop Outlook link underlining -->
      <!--[if (mso)|(mso 16)]>
        <style type="text/css">
            a {text-decoration: none !important;}
        </style>
      <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <style>
        a {
          text-decoration: none;
        }
        a:hover,
        a:hover span {
          text-decoration: none !important;
        }
        a#unsubscribe-link,
        a#unsubscribe-link span {
          color: #595655 !important;
        }
        a#unsubscribe-link:hover,
        a#unsubscribe-link:hover span {
          color: #595655;
        }
        /* fix the link styles that gmail adds */
        .footer-address a {
          color: #9f9f9f !important; 
          text-decoration: none;
        }
        .phone-number a {
          color: #595655 !important; 
          text-decoration: none;
        }
      @media only screen and (max-width: 620px) {
        table[class=body] h1 {
          font-size: 28px !important;
          margin-bottom: 10px !important; }
        table[class=body] p,
        table[class=body] ul,
        table[class=body] ol,
        table[class=body] td,
        table[class=body] span,
        table[class=body] a {
          font-size: 16px !important; }
        table[class=body] .wrapper,
        table[class=body] .article {
          padding: 10px !important; }
        table[class=body] .content {
          padding: 0 !important; }
        table[class=body] .container {
          padding: 0 !important;
          width: 100% !important; }
        table[class=body] .main {
          border-left-width: 0 !important;
          border-radius: 0 !important;
          border-right-width: 0 !important; }
        table[class=body] .btn table {
          width: 100% !important; }
        table[class=body] .btn a {
          width: 100% !important; }
        table[class=body] .img-responsive {
          height: auto !important;
          max-width: 100% !important;
          width: auto !important; }}

      /* -------------------------------------
          PRESERVE THESE STYLES IN THE HEAD
      ------------------------------------- */
      @media all {
        .ExternalClass {
          width: 100%; }
        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
          line-height: 100%; }
        .apple-link a {
          color: inherit !important;
          font-family: inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          text-decoration: none !important; }
        .btn-primary table td:hover {
          background-color: #34495e !important; }
        .btn-primary a:hover {
          background-color: #34495e !important;
          border-color: #34495e !important; } }
    </style>
  </head>

  <body> 
    <div class="mktoText" id="bodyText" mktoName="Main Body Text" style="font-family: Calibri, Arial, sans-serif; padding:10px;">
      <p>
          Hi {{lead.First Name:default=there}},
        </p>
        <p>
          It looks like you recently downloaded SmartDeploy and I wanted to let you know that I’ve been assigned as your success manager during your 15 day evaluation. Please feel free to contact me with any technical or product questions as you get started. My goal is to support you however necessary to get you through a successful proof of concept.
        </p>
        <p>
          During your 15 day trial, you will receive a series of emails guiding you through our simple process – you should have received the first email already. Most people I work with say that they can get through a successful evaluation in a couple of afternoons.
        </p>
        <p>
          Thank you for your interest in SmartDeploy and I look forward to working with you.
        </p>
      </div>
      <div id="snippet-1" class="mktoSnippet" style="font-family: Calibri, Arial, sans-serif; padding:10px;" mktoName="Signature Snippet" mktoDefaultSnippetId="1"></div>
  </body>
</html>